<img src="http://www.reeem.org/wp-content/uploads/2017/10/cropped-reeem-logo-transparent.png" width="300" style="float: left">
<img src="http://reiner-lemoine-institut.de//wp-content/uploads/2015/09/rlilogo.png" width="100" style="float: right">

# REEEM-DB - TIMESPanEU

__copyright__ 	= "© Reiner Lemoine Institut" <br>
__license__ 	= "GNU Affero General Public License Version 3 (AGPL-3.0)" <br>
__url__ 		= "https://www.gnu.org/licenses/agpl-3.0.en.html" <br>
__author__ 		= "Ludwig Hülk" <br>

# Import

In [1]:
# basic
import sys
import os
import getpass
import pandas as pd
import numpy as np
import json
import pathlib
from sqlalchemy import *
# plot
import matplotlib.pyplot as plt
import matplotlib.ticker as mticker
import plotly.graph_objs as go
import plotly.offline as pltly
import colorlover as cl
import seaborn as sns
# notebook
from IPython.display import Image
from IPython.core.display import HTML 

pltly.init_notebook_mode(connected=True)
%matplotlib inline

version = 'v0.2.0'
project = 'REEEM'

# Database Connection

This function creates a database connection to the **reeem_db**.<br>
The default user is **reeem_vis**, a user that has only read rights.

This section establishes the database connection and asks for the **password**.<br>
The username can be changed in the corresponding function above.<br>
If you don't have a username or forgot your password please contact your database admins.

In [2]:
def reeem_session():
    """SQLAlchemy session object with valid connection to reeem database"""
    
    print('Please provide connection parameters to database:\n' +
              'Hit [Enter] to take defaults')
    host = '130.226.55.43' # input('host (default 130.226.55.43): ')
    port = '5432' # input('port (default 5432): ')
    database = 'reeem' # input("database name (default 'reeem'): ")
    user = 'reeem_vis' # input('user (default postgres): ')
    # password = input('password: ')
    password = getpass.getpass(prompt='password: ',
                                   stream=sys.stderr)
    con = create_engine(
            'postgresql://' + '%s:%s@%s:%s/%s' % (user,
                                                  password,
                                                  host,
                                                  port,
                                                  database)).connect()
    print('Password correct! Database connection established.')
    return con

con = reeem_session()

C:\Anaconda3\envs\reeem-vis\lib\site-packages\ipykernel_launcher.py:12: UserWarning:

The `stream` parameter of `getpass.getpass` will have no effect when using ipykernel

Please provide connection parameters to database:
Hit [Enter] to take defaults
password: ········
Password correct! Database connection established.

# Table Info

In [3]:
# Database
schema = 'model_draft'
table_in = 'reeem_times_paneu_input'
table_out = 'reeem_times_paneu_output'
folder = 'times_paneu'

pathlib.Path('data/'+folder).mkdir(parents=True, exist_ok=True) 
print("Database Schema:", schema +'\n'+ "Input table:", table_in +'\n'+ 
      "Output table:", table_out +'\n'+ "Created folder:", folder )

Database Schema: model_draft
Input table: reeem_times_paneu_input
Output table: reeem_times_paneu_output
Created folder: times_paneu

## Database Query

This section is used to query the database tables (**table_in** and **table_out**).<br>

In [4]:
# Number of entries in table
sql = text("""
    SELECT  'In' AS data, count(*) AS count
    FROM    {0}.{1}
    UNION ALL
    SELECT  'Out' AS data, count(*) AS count
    FROM    {0}.{2}""".format(schema, table_in, table_out))
df_num = pd.read_sql_query(sql, con)
df_num

  data    count
0   In  1402528
1  Out  5502035

In [5]:
# Pathways
column = 'pathway' # id, pathway, version, region, year, indicator, category, value, unit
sql = text("""
    SELECT  'In' AS data, {3}, count(*) AS count
    FROM    {0}.{1}
    GROUP BY {3} 
    UNION ALL 
    SELECT  'Out' AS data, {3}, count(*) AS count
    FROM    {0}.{2}
    GROUP BY {3} 
    ORDER BY {3}; """.format(schema, table_in, table_out, column))
df_path = pd.read_sql_query(sql, con)
df_path

  data       pathway    count
0   In          Base   991088
1  Out          Base  2800552
2  Out       HighRES  1857500
3   In       HighRES   194012
4   In         Pilot    23416
5  Out         Pilot   421992
6   In  StorageInnov   194012
7  Out  StorageInnov   421991

In [15]:
# Versions
column = 'framework,pathway,version' # id, pathway, version, region, year, indicator, category, value, unit
sql = text("""
    SELECT  'In' AS data, {3}, count(*) AS count
    FROM    {0}.{1}
    GROUP BY {3} 
    UNION ALL 
    SELECT  'Out' AS data, {3}, count(*) AS count
    FROM    {0}.{2}
    GROUP BY {3} 
    ORDER BY {3}; """.format(schema, table_in, table_out, column))
df_ver = pd.read_sql_query(sql, con)
df_ver

   data    framework       pathway version   count
0    In  FrameworkV1          Base  DataV1  194012
1   Out  FrameworkV1          Base  DataV1  420715
2   Out  FrameworkV1          Base  DataV2  455031
3    In  FrameworkV1          Base  DataV2  198044
4    In  FrameworkV1          Base  DataV3  198044
5   Out  FrameworkV1          Base  DataV3  471976
6   Out  FrameworkV1          Base  DataV4  490115
7    In  FrameworkV1          Base  DataV4  202944
8    In  FrameworkV1       HighRES  DataV1  194012
9   Out  FrameworkV1       HighRES  DataV1  421991
10  Out  FrameworkV1       HighRES  DataV3  472696
11  Out  FrameworkV1       HighRES  DataV4  490117
12  Out  FrameworkV1         Pilot  DataV1  421992
13   In  FrameworkV1         Pilot  DataV1   23416
14   In  FrameworkV1  StorageInnov  DataV1  194012
15  Out  FrameworkV1  StorageInnov  DataV1  421991
16   In  FrameworkV2          Base  DataV1  198044
17  Out  FrameworkV2          Base  DataV1  472696
18  Out  FrameworkV2          Base  DataV2  490019
19  Out  FrameworkV2       HighRES  DataV1  472696

In [7]:
# Years
column = 'year' # id, pathway, version, region, year, indicator, category, value, unit
sql = text("""
    SELECT  'In' AS data, {3}, count(*) AS count
    FROM    {0}.{1}
    GROUP BY {3} 
    UNION ALL 
    SELECT  'Out' AS data, {3}, count(*) AS count
    FROM    {0}.{2}
    GROUP BY {3} 
    ORDER BY {3} ; """.format(schema, table_in, table_out, column))
df_year = pd.read_sql_query(sql, con)
df_year

   data  year   count
0   Out  2015  687697
1    In  2015   72661
2   Out  2020  687762
3    In  2020  189981
4    In  2025  189981
5   Out  2025  687766
6    In  2030  189981
7   Out  2030  687762
8   Out  2035  687761
9    In  2035  189981
10   In  2040  189981
11  Out  2040  687761
12   In  2045  189981
13  Out  2045  687765
14  Out  2050  687761
15   In  2050  189981

In [8]:
# Regions
column = 'region' # id, pathway, version, region, year, indicator, category, value, unit
sql = text("""
    SELECT  'In' AS data, {3}, count(*) AS count
    FROM    {0}.{1}
    GROUP BY {3}
    UNION ALL 
    SELECT  'Out' AS data, {3}, count(*) AS count
    FROM    {0}.{2}
    GROUP BY {3}; """.format(schema, table_in, table_out, column))
df_reg = pd.read_sql_query(sql, con)
df_reg

   data region   count
0    In     IE   49882
1    In     ES   49874
2    In     LT   49882
3    In     MT   49770
4    In     BE   49874
5    In     IT   49882
6    In     AT   49866
7    In     SK   49866
8    In     LU   49810
9    In     PT   49866
10   In     FI   49874
11   In     PL   49874
12   In     DE   49802
13   In     NL   49882
14   In     EE   49826
15   In     HU   49882
16   In     CY   49882
17   In     GR   49882
18   In     SE   49874
19   In     UK   49858
20   In     DK   49882
21   In     FR   49882
22   In     LV   49882
23   In     SI   49874
24   In     RO   49882
25   In     BG   49866
26   In     CZ   49866
27   In   EU28    6312
28   In     HR   49874
29  Out     IE  190360
30  Out     ES  190096
31  Out     LT  190096
32  Out     MT  190132
33  Out     BE  190551
34  Out     IT  190834
35  Out     AT  190888
36  Out     SK  190552
37  Out     LU  190450
38  Out     PT  190360
39  Out     PL  190696
40  Out     FI  190540
41  Out     DE  190816
42  Out     EE  190456
43  Out     NL  190576
44  Out     CY  189671
45  Out     HU  190744
46  Out     GR  190456
47  Out     SE  190384
48  Out     UK  190552
49  Out     DK  190537
50  Out     FR  190840
51  Out     LV  190456
52  Out     SI  190648
53  Out     RO  190456
54  Out     BG  189656
55  Out     CZ  190288
56  Out   EU28  171408
57  Out     HR  188536

In [9]:
# Categories
column = 'category' # id, pathway, version, region, year, indicator, category, value, unit
sql = text("""
    SELECT  'In' AS data, {3}, count(*) AS count
    FROM    {0}.{1}
    GROUP BY {3} 
    UNION ALL 
    SELECT  'Out' AS data, {3}, count(*) AS count
    FROM    {0}.{2}
    GROUP BY {3}; """.format(schema, table_in, table_out, column))
df_cat = pd.read_sql_query(sql, con)
df_cat

    data                                           category  count
0     In  Electrical efficiency of public power and CHP ...   2744
1     In                          Service demands transport  25984
2     In  Lifetime of public power and CHP plants Gas co...   6860
3     In       Maximum electricity production of renewables   2800
4     In                         Variable costs of storages  84672
5     In     Fix costs of public power and CHP plants Waste   2744
6     In  Electrical efficiency of public power and CHP ...  28812
7     In           Efficiency of public heating plants Coal   1372
8     In     Investment costs of public heating plants Coal   1372
9     In  Investment costs of public heating plants Sola...   2744
10    In      Fix costs of public power and CHP plants Wind   5880
11    In    Variable costs of public heating plants Biomass   1372
12    In        Efficiency of public heating plants Biomass   1372
13    In      Fix costs of public power and CHP plants Coal  17836
14    In  Variable costs of public power and CHP plants ...   5488
15    In  Variable costs of public power and CHP plants Oil  13720
16    In                                        Fuel prices   4480
17    In  Variable costs of public heating plants Solart...   2744
18    In  Investment costs of public power and CHP plant...  13720
19    In   Variable costs of public power and CHP plants PV   2352
20    In    Fix costs of public heating plants Solarthermal   2744
21    In  Investment costs of public power and CHP plant...   2744
22    In        Variable costs of public heating plants Oil   1372
23    In      Lifetime of public power and CHP plants Hydro   5488
24    In                        Service demands residential  48256
25    In  Investment costs of public power and CHP plant...  17836
26    In  Fix costs of public power and CHP plants Gas c...   6860
27    In    Lifetime of public power and CHP plants Lignite  13720
28    In                        Service demands agriculture   1856
29    In             Fix costs of public heating plants Oil   1372
..   ...                                                ...    ...
524  Out  Installed Capacities Public and Industrial CHP...   2784
525  Out  Installed Capacities Public and Industrial CHP...   2784
526  Out        CO2 Emission industry by subsector - cupric   2088
527  Out                Final energy consumption Households  25056
528  Out  Installed Capacities Public and Industrial CHP...   5568
529  Out  Electricity Production from Public and Industr...   8352
530  Out  Fixed O&M costs household by demand type and f...   2784
531  Out      CO2 Emission transport by subsector - freight    696
532  Out                                     Fuel Input Bus   2784
533  Out  Final energy consumption industry by subsector...  22272
534  Out  Installed Capacities Public and Industrial CHP...   8352
535  Out  Electricity Production from Public and Industr...   2784
536  Out                Final energy consumption Commercial  25056
537  Out                            Vehicle Stock Truck HDV  64032
538  Out  Fixed O&M costs household by demand type and f...   2784
539  Out                        Fuel Input Truck HDV_Diesel  13920
540  Out  Electricity Production from Public and Industr...  19488
541  Out                  Fuel Input Truck LDV_Ethanol PHEV   8352
542  Out  Final energy consumption industry by subsector...  22272
543  Out  NEW Capacities Public and Industrial Power Pla...   2784
544  Out  Investment costs household by demand type and ...   2784
545  Out                       Fuel Input Car_Diesel Hybrid  13920
546  Out  Installed Capacities Public and Industrial CHP...  19488
547  Out  Installed Capacities Public and Industrial CHP...   8352
548  Out                      Fuel Input navigation_Bunkers  11136
549  Out  Investment costs household by demand type and ...  25024
550  Out  NEW Capacities Public and Industrial Power Pla...  11136
551  Out  Installed Capacities Public and Industrial Pow...   8352
552  Out  Fuel input to Public and Industrial CHP Plants...  19488
553  Out  Final energy consumption industry by subsector...  22272

[554 rows x 3 columns]

In [10]:
# Indicators
column = 'nid,category,indicator' # id, pathway, version, region, year, indicator, category, value, unit
sql = text("""
    SELECT  'In' AS data, {3}, count(*) AS count
    FROM    {0}.{1}
    GROUP BY {3} 
    UNION ALL 
    SELECT  'Out' AS data, {3}, count(*) AS count
    FROM    {0}.{2}
    GROUP BY {3}
    ORDER BY category, indicator, nid; """.format(schema, table_in, table_out, column))
df_nind = pd.read_sql_query(sql, con)
df_nind.index.names = ['rid']
df_nind

,data,nid,category,indicator,count
rid,,,,,
0,Out,1036.0,Activity Bus,Biodiesel,8
1,Out,1043.0,Activity Bus,Biodiesel,928
2,Out,1102.0,Activity Bus,Biodiesel,224
3,Out,1122.0,Activity Bus,Biodiesel,24
4,Out,1124.0,Activity Bus,Biodiesel,32
5,Out,1188.0,Activity Bus,Biodiesel,672
6,Out,1190.0,Activity Bus,Biodiesel,896
7,Out,1039.0,Activity Bus,Combined Combustion,8
8,Out,1046.0,Activity Bus,Combined Combustion,928
9,Out,1105.0,Activity Bus,Combined Combustion,224
10,Out,1125.0,Activity Bus,Combined Combustion,24
11,Out,1127.0,Activity Bus,Combined Combustion,32
12,Out,1191.0,Activity Bus,Combined Combustion,672
13,Out,1193.0,Activity Bus,Combined Combustion,896
14,Out,1024.0,Activity Bus,Diesel,8
15,Out,1031.0,Activity Bus,Diesel,928
16,Out,1090.0,Activity Bus,Diesel,224
17,Out,1110.0,Activity Bus,Diesel,24
18,Out,1112.0,Activity Bus,Diesel,32
19,Out,1176.0,Activity Bus,Diesel,672
20,Out,1178.0,Activity Bus,Diesel,896
21,Out,1025.0,Activity Bus,Diesel hybrid,8
22,Out,1032.0,Activity Bus,Diesel hybrid,928
23,Out,1091.0,Activity Bus,Diesel hybrid,224
24,Out,1111.0,Activity Bus,Diesel hybrid,24
25,Out,1113.0,Activity Bus,Diesel hybrid,32
26,Out,1177.0,Activity Bus,Diesel hybrid,672
27,Out,1179.0,Activity Bus,Diesel hybrid,896
28,Out,1026.0,Activity Bus,Diesel PHEV,8
29,Out,1033.0,Activity Bus,Diesel PHEV,928
...,...,...,...,...,...
12298,Out,NaN,None,Fuel Input Car,232
12299,Out,NaN,None,Fuel Input Motorcycles,232
12300,Out,NaN,None,Fuel Input navigation,232
12301,Out,NaN,None,Fuel Input rail,232
12302,Out,NaN,None,Fuel Input to Public and Industrial CHP Plants...,232
12303,Out,NaN,None,Fuel Input to Public and Industrial Power Plan...,232
12304,Out,NaN,None,Fuel Input Truck HDV,232
12305,Out,NaN,None,Fuel Input Truck LDV,232
12306,Out,NaN,None,Heat Production from Public and Industrial CHP...,232
12307,Out,NaN,None,Installed Capacities Public and Industrial CHP...,232
12308,Out,NaN,None,Installed Capacities Public and Industrial Pow...,232
12309,Out,NaN,None,Investment costs car,232
12310,Out,NaN,None,Investment costs household by demand type and ...,232
12311,Out,NaN,None,Investment costs industry by subsector,232
12312,Out,NaN,None,Net electricity consumption by sector,232
12313,Out,NaN,None,Net import (Efficiency method - EM),232
12314,Out,NaN,None,NEW Capacities Public and Industrial CHP Plant...,232
12315,Out,NaN,None,NEW Capacities Public and Industrial Power Pla...,232
12316,Out,NaN,None,Primary energy consumption (Efficiency method ...,232
12317,Out,NaN,None,Primary energy consumption of renewables [Effi...,232
12318,Out,NaN,None,Variable O&M costs car (without fuel costs),232
12319,Out,NaN,None,Variable O&M costs Domestic production,232
12320,Out,NaN,None,Variable O&M costs household by demand type an...,232
12321,Out,NaN,None,Variable O&M costs industry by subsector (with...,232
12322,Out,NaN,None,Vehicle Stock Bus,232
12323,Out,NaN,None,Vehicle Stock Car,232
12324,Out,NaN,None,Vehicle Stock Motorcycles,232
12325,Out,NaN,None,Vehicle Stock Truck HDV,232
12326,Out,NaN,None,Vehicle Stock Truck LDV,232
12327,Out,NaN,None,None,3040

In [11]:
# Indicators
column = 'category,indicator' # id, pathway, version, region, year, indicator, category, value, unit
sql = text("""
    SELECT  'In' AS data, {3}, count(*) AS count
    FROM    {0}.{1}
    GROUP BY {3} 
    UNION ALL 
    SELECT  'Out' AS data, {3}, count(*) AS count
    FROM    {0}.{2}
    GROUP BY {3}
    ORDER BY category, indicator; """.format(schema, table_in, table_out, column))
df_ind = pd.read_sql_query(sql, con)
df_ind.index.names = ['rid']
df_ind

,data,category,indicator,count
rid,,,,
0,Out,Activity Bus,Biodiesel,2784
1,Out,Activity Bus,Combined Combustion,2784
2,Out,Activity Bus,Diesel,2784
3,Out,Activity Bus,Diesel hybrid,2784
4,Out,Activity Bus,Diesel PHEV,2784
5,Out,Activity Bus,DME,2784
6,Out,Activity Bus,Electricity,2784
7,Out,Activity Bus,Ethanol,2784
8,Out,Activity Bus,Ethanol hybrid,2784
9,Out,Activity Bus,Ethanol PHEV,2784
10,Out,Activity Bus,Gasoline,2784
11,Out,Activity Bus,Gasoline hybrid,2784
12,Out,Activity Bus,Gasoline PHEV,2784
13,Out,Activity Bus,Hydrogen FC,2784
14,Out,Activity Bus,Hydrogen FC hybrid,2784
15,Out,Activity Bus,Hydrogen IC,2784
16,Out,Activity Bus,LPG,2784
17,Out,Activity Bus,Methanol FC,2784
18,Out,Activity Bus,Methanol IC,2784
19,Out,Activity Bus,Natural Gas,2784
20,Out,Activity Bus,Natural Gas hybrid,2784
21,Out,Activity Bus,Natural Gas PHEV,2784
22,Out,Activity Bus,Sum,840
23,Out,Activity Bus,Summe,1944
24,Out,Activity Car,Biodiesel,2784
25,Out,Activity Car,Combined Combustion,2784
26,Out,Activity Car,Diesel,2784
27,Out,Activity Car,Diesel hybrid,2784
28,Out,Activity Car,Diesel PHEV,2784
29,Out,Activity Car,DME,2784
...,...,...,...,...
4308,Out,None,Fuel Input Car,232
4309,Out,None,Fuel Input Motorcycles,232
4310,Out,None,Fuel Input navigation,232
4311,Out,None,Fuel Input rail,232
4312,Out,None,Fuel Input to Public and Industrial CHP Plants...,232
4313,Out,None,Fuel Input to Public and Industrial Power Plan...,232
4314,Out,None,Fuel Input Truck HDV,232
4315,Out,None,Fuel Input Truck LDV,232
4316,Out,None,Heat Production from Public and Industrial CHP...,232
4317,Out,None,Installed Capacities Public and Industrial CHP...,232
4318,Out,None,Installed Capacities Public and Industrial Pow...,232
4319,Out,None,Investment costs car,232
4320,Out,None,Investment costs household by demand type and ...,232
4321,Out,None,Investment costs industry by subsector,232
4322,Out,None,Net electricity consumption by sector,232
4323,Out,None,Net import (Efficiency method - EM),232
4324,Out,None,NEW Capacities Public and Industrial CHP Plant...,232
4325,Out,None,NEW Capacities Public and Industrial Power Pla...,232
4326,Out,None,Primary energy consumption (Efficiency method ...,232
4327,Out,None,Primary energy consumption of renewables [Effi...,232
4328,Out,None,Variable O&M costs car (without fuel costs),232
4329,Out,None,Variable O&M costs Domestic production,232
4330,Out,None,Variable O&M costs household by demand type an...,232
4331,Out,None,Variable O&M costs industry by subsector (with...,232
4332,Out,None,Vehicle Stock Bus,232
4333,Out,None,Vehicle Stock Car,232
4334,Out,None,Vehicle Stock Motorcycles,232
4335,Out,None,Vehicle Stock Truck HDV,232
4336,Out,None,Vehicle Stock Truck LDV,232
4337,Out,None,None,3040

In [12]:
# Write data as CSV file
csvname = 'data/{0}/reeem_{0}_indicators.csv'.format(folder)
df_ind.to_csv(csvname, sep=';')
print("Data saved to file:", csvname)

Data saved to file: data/times_paneu/reeem_times_paneu_indicators.csv

## Table metadata

Access the metadata from the database tables and write metadata string as JSON file.<br>

In [13]:
# Input Metadata
sql = text("""SELECT obj_description('{0}.{1}'::regclass);""".format(schema, table_in))
meta_in = pd.read_sql_query(sql, con).loc[:,'obj_description'].iloc[0]
print(meta_in)

# Save data to JSON file
fname_in = 'data/{0}/{1}_metadata.json'.format(folder, table_in)
with open(fname_in, 'w') as metafile:
    json.dump(json.loads(meta_in), metafile, indent=4)
    print("Data saved to file:", fname_in)

{"title": "REEEM Times PanEU Input",
    "description": "Input parameters: Service Demands, Fuel Prices, Potentials",
    "language": [ "eng" ],
    "spatial":
        {"location": "none",
        "extent": "Europe",
        "resolution": "Country"},
    "temporal":
        {"reference_date": "2010",
        "start": "2015",
        "end": "2050",
        "resolution": "5 years"},
    "sources": [
        {"name": "", "description": "", "url": "", "license": "", "copyright": ""},
        {"name": "", "description": "", "url": "", "license": "", "copyright": ""} ],
    "license":
        {"id": "tba",
        "name": "tba",
        "version": "tba",
        "url": "tba",
        "instruction": "tba",
        "copyright": "tba"},
    "contributors": [
        {"name": "Ludee", "email": "none", "date": "2016-12-01", "comment": "Create table"},
        {"name": "Ludee", "email": "none", "date": "2017-01-18", "comment": "Update metadata"},
        {"name": "Ludee", "email": "none", "date": "2017-07-24", "comment": "Update metadata"},
        {"name": "Ludee", "email": "none", "date": "2017-11-02", "comment": "Update structure"},
        {"name": "Ludee", "email": "none", "date": "2017-11-06", "comment": "Include pathway"},
        {"name": "Ludee", "email": "none", "date": "2018-01-30", "comment": "New naming structure"},
        {"name": "Ludee", "email": "none", "date": "2018-02-27", "comment": "Simplify structure"} ],
    "resources": [
        {"name": "model_draft.reeem_times_paneu_input",
        "format": "PostgreSQL",
        "fields": [
            {"name": "id", "description": "Unique identifier", "unit": "none"},
            {"name": "nid", "description": "Row id", "unit": "none"},
            {"name": "dfid", "description": "Internal dataframe id", "unit": "none"},
            {"name": "pathway", "description": "REEEM pathway", "unit": "none"},
            {"name": "framework", "description": "REEEM framework", "unit": "none"},
            {"name": "version", "description": "REEEM version", "unit": "none"},
            {"name": "region", "description": "Country or region", "unit": "none"},
            {"name": "year", "description": "Year", "unit": "none"},
            {"name": "category", "description": "2. classification", "unit": "none"},
            {"name": "indicator", "description": "Parameter name", "unit": "none"},
            {"name": "value", "description": "Parameter value", "unit": "unit"},
            {"name": "unit", "description": "Parameter unit", "unit": "none"},
            {"name": "aggregation", "description": "True if aggregated", "unit": "none"},
            {"name": "tags", "description": "Free classification", "unit": "none"},
            {"name": "updated", "description": "Timestamp", "unit": "none"},
            {"name": "source", "description": "Data source", "unit": "none"} ] } ],
    "metadata_version": "1.3"}
Data saved to file: data/times_paneu/reeem_times_paneu_input_metadata.json

In [14]:
# Output Metadata
sql = text("""SELECT obj_description('{0}.{1}'::regclass);""".format(schema, table_out))
meta_out = pd.read_sql_query(sql, con).loc[:,'obj_description'].iloc[0]
print(meta_out)

# Save data to JSON file
fname_out = 'data/{0}/{1}_metadata.json'.format(folder, table_out)
with open(fname_out, 'w') as metafile:
    json.dump(json.loads(meta_out), metafile, indent=4)
    print("Data saved to file:", fname_out)

{"title": "REEEM Times PanEU Output",
    "description": "Energy Consumption, Installed Capacities, Electricity Production, Heat Production, Fuel Input, Emissions, Mobility, Electricity Exchange",
    "language": [ "eng" ],
    "spatial":
        {"location": "none",
        "extent": "Europe",
        "resolution": "Country"},
    "temporal":
        {"reference_date": "2010",
        "start": "2010",
        "end": "2050",
        "resolution": "5 years"},
    "sources": [
        {"name": "TIMES PanEU", "description": "TIMES is an energy system model generator which is a further development of the model generators MARKAL and EFOM-ENV, written in GAMS. TIMES is a bottom-up linear optimization model based on a technical approach. The aim of the model is to optimize the energy system cost according to the given energy demands, energy technologies, and policy requirements. The Pan-European TIMES energy system model (TIMES PanEU) is a 30 region partial equilibrium energy system model. The model covers the EU-28 countries, with addition of Norway and Switzerland. The base year is 2010 and the time horizon ends in 2050. The current structure accounts for 12 time slices, 4 seasonal and 3 daily.  The model is split in 5-year time steps. Both greenhouse gas emissions (CO2, CH4, N2O, SF6) and local air pollutant emissions (SO2, CO, NOx, NMVOC, PM10, PM2.5) are included. TIMES PanEU contains the country specific data covering all the sectors related to energy supply and demand. The system commences from the potential of different energy sources in a particular country and includes public and industrial generation of electricity, industry, agriculture, refineries, inventory power stations and the end-use service demands such as heating, lighting and transportation.", "url": "http://openenergyplatform.org/factsheets/models/41/", "license": "none", "copyright": "none"} ],
    "license":
        {"id": "ODC-BY-1.0",
        "name": "Open Data Commons Attribution License 1.0",
        "version": "1.0",
        "url": "http://opendatacommons.org/licenses/by",
        "instruction": "You are free: To Share, To Create, To Adapt; As long as you: Attribute!",
        "copyright": "© Institut für Energiewirtschaft und Rationelle Energieanwendung (IER) der Universität Stuttgart"},
    "contributors": [
        {"name": "Ludee", "email": "none", "date": "2016-12-01", "comment": "Create table"},
        {"name": "Ludee", "email": "none", "date": "2017-01-18", "comment": "Update metadata"},
        {"name": "Ludee", "email": "none", "date": "2017-07-24", "comment": "Update metadata"},
        {"name": "Ludee", "email": "none", "date": "2017-11-02", "comment": "Update structure"},
        {"name": "Ludee", "email": "none", "date": "2017-11-06", "comment": "Include pathway"},
        {"name": "Ludee", "email": "none", "date": "2018-01-30", "comment": "New naming structure"},
        {"name": "Ludee", "email": "none", "date": "2018-02-27", "comment": "Simplify structure"},
        {"name": "Ludee", "email": "none", "date": "2018-03-15", "comment": "Add license"},
        {"name": "Ludee", "email": "none", "date": "2018-10-08", "comment": "Add source"}],
    "resources": [
        {"name": "model_draft.reeem_times_paneu_output",
        "format": "PostgreSQL",
        "fields": [
            {"name": "id", "description": "Unique identifier", "unit": "none"},
            {"name": "nid", "description": "Row id", "unit": "none"},
            {"name": "dfid", "description": "Internal dataframe id", "unit": "none"},
            {"name": "pathway", "description": "REEEM pathway", "unit": "none"},
            {"name": "framework", "description": "REEEM framework", "unit": "none"},
            {"name": "version", "description": "REEEM version", "unit": "none"},
            {"name": "region", "description": "Country or region", "unit": "none"},
            {"name": "year", "description": "Year", "unit": "none"},
            {"name": "category", "description": "2. classification", "unit": "none"},
            {"name": "indicator", "description": "Parameter name", "unit": "none"},
            {"name": "value", "description": "Parameter value", "unit": "unit"},
            {"name": "unit", "description": "Parameter unit", "unit": "none"},
            {"name": "aggregation", "description": "True if aggregated", "unit": "none"},
            {"name": "tags", "description": "Free classification", "unit": "none"},
            {"name": "updated", "description": "Timestamp", "unit": "none"} ] } ],
    "metadata_version": "1.3"}
Data saved to file: data/times_paneu/reeem_times_paneu_output_metadata.json

# View 1: One indicator for one region in one pathway over time
## Database Query

This section can be used to query one specific **indicator** (_filter 1_) for one specific **region** (_filter 2_) from one database table (_table_).<br>
Indicators are identified by the **nid**.<br>
It is possible to select one specific **pathway** (_filter 3_) and one specific data **version** (_filter 4_).<br>
To querry additional coulmns from the database table add the names to the **SELECT** statement (_column_).<br>
The sortation is done by the **ORDER BY** (_sorting_).<br>
The result from the database is saved to a pandas.DataFrame (**df_1**) and can be printed.

In [ ]:
# Database select (SQL)
sql = text("""
    SELECT  pathway, version, region, year, category, indicator, value, unit  -- column
    FROM    {0}.{1}                               -- table
    WHERE   category = 'NEW Capacities Public and Industrial Power Plants by Fuel and Technology_Wind'
        AND indicator = 'Onshore'
        AND region = 'EU28'                       -- filter 2
        AND pathway = 'Base'                      -- filter 3
        AND framework = 'FrameworkV1'              
        AND version = 'DataV3'                    -- filter 4
    ORDER BY pathway, version, year;              -- sorting """.format(schema, table_out))
df_1 = pd.read_sql_query(sql, con)
print(df_1)

## Metadata

The important information from the above select (**df_1**) is collected in a Dictionary (**info_dict_1**).

In [ ]:
# Facts dict
info_dict_1 = {}
info_dict_1['Filename'] = ['{}_reeem_plot_1' .format(pd.to_datetime('today').strftime("%Y-%m-%d"))]
info_dict_1['Category'] = df_1.loc[:,'category'].unique()
info_dict_1['Indicator'] = df_1.loc[:,'indicator'].unique()
info_dict_1['Unit'] = df_1.loc[:,'unit'].unique()
info_dict_1['Pathway'] = df_1.loc[:,'pathway'].unique()
info_dict_1['Year'] = df_1.loc[:,'year'].unique().tolist()
info_dict_1['Region'] = df_1.loc[:,'region'].unique()
info_dict_1['Y-Axis'] = ['{} in {}'.format(*info_dict_1['Indicator'], *info_dict_1['Unit'])]
info_dict_1['Title'] = ['{} in {}'.format(*info_dict_1['Category'], *info_dict_1['Region'])]
info_dict_1['Metadata'] = meta_out

# Print facts
for x in info_dict_1:
    print(x,':',info_dict_1[x])

## Plot

This is a basic plot with [matplotlib](https://matplotlib.org/).<br>
The title and y-axis labels are taken from the **info_dict_1**. They can be exchanged with manual text.

In [ ]:
# Plot for one indicator and one pathway
fig = plt.figure(figsize=(12, 5))
ax = plt.subplot()
# plt.title(r'CO2-Emissions in EU28', fontsize=16)  # Manual title
plt.title(*info_dict_1['Title'], fontsize=16)         # Title from info
# plt.ylabel(r'CO2-Emissions in Mt')                # Manual label
plt.ylabel(*info_dict_1['Y-Axis'])                    # Label from info
plt.plot(df_1.loc[:,'year'], df_1.loc[:,'value'], 
         marker="o",  markersize=5)
plt.legend(df_1.loc[:,'pathway'].unique())
ax.set_ylim(ymin=0)

## Interactive Plot

This is a basic interactive plot with [Plotly](https://plot.ly/python/).<br>
You can hover over the elements of the plot and observe the data.

In [ ]:
# Interactive plot for one indicator and one pathway
data = [go.Scatter(
    x = df_1.loc[:,'year'],
    y = df_1.loc[:,'value'],
    name = df_1.loc[:,'pathway'].unique())]

# Set layout
layout = go.Layout(
    height=400, width = 800,
    #title='CO2-Emissions in EU28',
    title=''.join(info_dict_1['Title']),
    # yaxis=dict(title='CO2-Emissions in Mt') )
    yaxis=dict(title=''.join(info_dict_1['Y-Axis'])) )
ifig = go.Figure(data=data, layout=layout)
pltly.iplot(ifig)

## Save results to files

The results are saved to cooresponding files in a folder named **data**.<br>
The **info_dict** is saved to a text file (txt).<br>
The **data** is saved to a table (csv).<br>
The **plot** is saved as an image (png).<br>
The **interactive plot** is saved as a webpage (html). It will also open in a new tab of your browser.

In [ ]:
# Save plot as file
plotname = ('data/' + str({0}) + '/' + str({1}) +'.png').format(folder, *info_dict_1['Filename'])
fig.savefig(plotname, bbox_inches='tight')
print("Plot saved to file:", plotname)

In [ ]:
# Write facts to textfile
txtname = ('data/' + str({0}) + '/' + str({1}) +'.txt').format(folder, *info_dict_1['Filename'])
with open(txtname,'w') as tfile:
    for i in info_dict_1.keys():
        tfile.write(i + ": " + ', '.join([str(x) for x in info_dict_1[i]]) + "\n")
tfile.close()
print("Facts saved to file:", txtname)

# Save data to CSV
csvname = ('data/' + str({0}) + '/' + str({1}) +'.csv').format(folder, *info_dict_1['Filename'])
df_1.to_csv(csvname, sep=';')
print("Data saved to file:", csvname)

# Save plot as file
plotname = ('data/' + str({0}) + '/' + str({1}) +'.png').format(folder, *info_dict_1['Filename'])
fig.savefig(plotname, bbox_inches='tight')
print("Plot saved to file:", plotname)

# Save interactive plot
htmlname = ('data/' + str({0}) + '/' + str({1}) +'.html').format(folder, *info_dict_1['Filename'])
pltly.plot(ifig, filename=htmlname)
print("Interactive plot saved to file:", htmlname)

# View 2: One indicator for one region in different pathways over time
## Database Query

This section can be used to query one specific **indicator** (_filter 1_) for one specific **region** (_filter 2_) from one database table (_table_).<br>
Indicators are identified by the **nid**.<br>
It is possible to select one specific **pathway** (_filter 3_) and one specific data **version** (_filter 4_).<br>
To querry additional coulmns from the database table add the names to the **SELECT** statement (_column_).<br>
The sortation is done by the **ORDER BY** (_sorting_).<br>
The result from the database is saved to a pandas.DataFrame (**df_2**) and can be printed.

In [ ]:
# Database select (SQL)
sql = text("""
    SELECT  pathway, version, region, year, category, indicator, value, unit  -- column
    FROM    {0}.{1}                               -- table
    WHERE   category = 'NEW Capacities Public and Industrial Power Plants by Fuel and Technology_Wind'
        AND indicator = 'Onshore'
        AND region = 'EU28'                       -- filter 2
        AND (pathway = 'Base' 
            OR pathway = 'HighRES')                       -- filter 3
        AND framework = 'FrameworkV1'              
        AND version = 'DataV3'                    -- filter 4
    ORDER BY pathway, version, year;              -- sorting """.format(schema, table_out))
df_2 = pd.read_sql_query(sql, con)
print(df_2)

In [ ]:
# Facts dict
info_dict_2 = {}
info_dict_2['Filename'] = ['{}_reeem_plot_2' .format(pd.to_datetime('today').strftime("%Y-%m-%d"))]
info_dict_2['Category'] = df_2.loc[:,'category'].unique()
info_dict_2['Indicator'] = df_2.loc[:,'indicator'].unique()
info_dict_2['Unit'] = df_2.loc[:,'unit'].unique()
info_dict_2['Pathway'] = df_2.loc[:,'pathway'].unique()
info_dict_2['Year'] = df_2.loc[:,'year'].unique().tolist()
info_dict_2['Region'] = df_2.loc[:,'region'].unique()
info_dict_2['Y-Axis'] = ['{} in {}'.format(*info_dict_2['Indicator'], *info_dict_2['Unit'])]
info_dict_2['Title'] = ['{} in {}'.format(*info_dict_2['Category'], *info_dict_2['Region'])]
# ToDo: Select metadata string from database table and also add!

# Print facts
for x in info_dict_2:
    print(x,':',info_dict_2[x])

## Stack data

This pivot function reorganises the data and makes each pathway a column. The year is used as the index.<br>
The result is saved to a new dataframe (**df_2p**) and can be printed.

In [ ]:
# Reshape dataframe
df_2p = df_2.pivot(index='year', columns='pathway',  values='value')
# print (df_2p)

## Plot

This is a basic plot with [matplotlib](https://matplotlib.org/).<br>
The title and y-axis labels are taken from the **info_dict_2**. They can be exchanged with manual text.

In [ ]:
# Plot for one indicator and one pathway
fig_2 = plt.figure(figsize=(12, 5))
ax = plt.subplot()
# plt.title(r'CO2-Emissions in EU28', fontsize=16)  # Manual title
plt.title(*info_dict_2['Title'], fontsize=16)         # Title from info
# plt.ylabel(r'CO2-Emissions in Mt')                # Manual label
plt.ylabel(*info_dict_2['Y-Axis'])                    # Label from info
plt.plot(df_2p, 
         marker="o",  markersize=5)
plt.legend(df_2p)
ax.set_ylim(ymin=0)

## Interactive Plot

This is a basic interactive plot with [Plotly](https://plot.ly/python/).<br>
You can hover over the elements of the plot and observe the data.<br>
The different pathways can be switched on and off.

In [ ]:
# Iterate over pathways and add to data
pathways = df_2.loc[:,'pathway'].unique()
data = []
for pathway in pathways:
    data.append(go.Scatter(
        x = df_2.loc[df_2['pathway'] == pathway].loc[:,'year'],
        y = df_2.loc[df_2['pathway'] == pathway].loc[:,'value'],
        name = pathway))

# Set layout
layout = go.Layout(
    height=400, width = 800,
    #title='CO2-Emissions in EU28',
    title=''.join(info_dict_2['Title']),
    # yaxis=dict(title='CO2-Emissions in Mt') )
    yaxis=dict(title=''.join(info_dict_2['Y-Axis'])) )
ifig = go.Figure(data=data, layout=layout)
pltly.iplot(ifig)

## Interactive Plot 2

This is the manual interactive version.<br>
You can control the design using the [plotly documentation](https://plot.ly/python/line-and-scatter/#line-and-scatter-plots).

In [ ]:
data = [go.Scatter(x=df_2.loc[df_2['pathway'] == 'Base'].loc[:,'year'],
                   y=df_2.loc[df_2['pathway'] == 'Base'].loc[:,'value'],
                   mode='lines+markers',
                   line=dict(color='black', dash='none', width='2'),
                   marker=dict(symbol='o', size=8, line=dict(width=2, color='black')),
                   name='Base'
                  ),
        go.Scatter(x=df_2.loc[df_2['pathway'] == 'HighRES'].loc[:,'year'],
                   y=df_2.loc[df_2['pathway'] == 'HighRES'].loc[:,'value'],
                   mode='lines+markers',
                   line=dict(color='green', dash='', width='2'),
                   marker=dict(symbol='o', size=5, line=dict(width=2, color='black')),
                   name='HighRES'
                  ),
        go.Scatter(x=df_2.loc[df_2['pathway'] == 'StorageInnov'].loc[:,'year'],
                   y=df_2.loc[df_2['pathway'] == 'StorageInnov'].loc[:,'value'],
                   line=dict(color='red', dash='dash', width='2'),
                   marker=dict(symbol='o', size=5, line=dict(width=2, color='black')),
                   name='StorageInnov'
                  )
       ]
layout = go.Layout(
    height=400, width = 800,
    #title='CO2-Emissions in EU28',
    title=''.join(info_dict_2['Title']),
    # yaxis=dict(title='CO2-Emissions in Mt') )
    yaxis=dict(title=''.join(info_dict_2['Y-Axis'])) )
ifig2 = go.Figure(data=data, layout=layout)
pltly.iplot(ifig2)

## Save results to files

The results are saved to cooresponding files in a folder named **data**.<br>
The **info_dict** is saved to a text file (txt).<br>
The **data** is saved to a table (csv).<br>
The **plot** is saved as an image (png).<br>
The **interactive plot** is saved as a webpage (html). It will also open in a new tab of your browser.<br>

In [ ]:
# Write facts to textfile
filename = ('data/{}.txt').format(*info_dict_2['Filename'])
with open(filename,'w') as tfile:
    for i in info_dict_2.keys():
        tfile.write(i + ": " + ', '.join([str(x) for x in info_dict_2[i]]) + "\n")
tfile.close()
print("Facts saved to file:", filename)

# Save data to CSV
csvname = 'data/{}.csv' .format(*info_dict_2['Filename'])
df_2.to_csv(csvname, sep=';')
print("Data saved to file:", csvname)

# Save pivot data to CSV
csvname = 'data/{}_pivot.csv' .format(*info_dict_2['Filename'])
df_2p.to_csv(csvname, sep=';')
print("Data saved to file:", csvname)

# Save plot as file
plotname = 'data/{}.png' .format(*info_dict_2['Filename'])
fig_2.savefig(plotname, bbox_inches='tight')
print("Plot saved to file:", plotname)

# Save interactive plot
htmlname = 'data/{}.html' .format(*info_dict_2['Filename'])
pltly.plot(ifig, filename=htmlname)
print("Interactive plot saved to file:", htmlname)

# Save interactive plot 2
htmlname = 'data/{}_2.html' .format(*info_dict_2['Filename'])
pltly.plot(ifig2, filename=htmlname)
print("Interactive plot saved to file:", htmlname)

# Download one pathway

In [ ]:
# Database select (SQL)
sql = text("""
    SELECT  *
    FROM    {0}.{1}
    WHERE   pathway = 'Base' 
            AND framework = 'FrameworkV1'              
            AND version = 'DataV3'
    ORDER BY nid, year;""".format(schema, table_out))
df_all = pd.read_sql_query(sql, con)
print(df_all)

In [ ]:
# Reshape dataframe
df_allp = df_all.pivot(index='year', columns='pathway',  values='value')
print (df_allp)

# Logging

In [ ]:
%%javascript
var nb = IPython.notebook;
var kernel = IPython.notebook.kernel;
var command = "nb_name = '" + nb.notebook_path + "'";
kernel.execute(command);

In [ ]:
print(nb_name)

In [ ]:
# Database select (SQL)
sql = text("""
    -- scenario log (project,version,io,schema_name,table_name,script_name,comment)
    SELECT scenario_log('REEEM','v0.3.0','view','{0}','{1}','{2}',' ');
    """.format(schema, table_out, nb_name))
df_2 = pd.read_sql_query(sql, con)
print(df_2)