<img src="http://www.reeem.org/wp-content/uploads/2017/10/cropped-reeem-logo-transparent.png" width="300" style="float: left">
<img src="http://reiner-lemoine-institut.de//wp-content/uploads/2015/09/rlilogo.png" width="100" style="float: right">

# REEEM-DB - OSeMBE

__copyright__ 	= "© Reiner Lemoine Institut" <br>
__license__ 	= "GNU Affero General Public License Version 3 (AGPL-3.0)" <br>
__url__ 		= "https://www.gnu.org/licenses/agpl-3.0.en.html" <br>
__author__ 		= "Ludwig Hülk" <br>

# Import

In [1]:
# basic
import sys
import os
import getpass
import pandas as pd
import numpy as np
import json
import pathlib
from sqlalchemy import *
# plot
import matplotlib.pyplot as plt
import matplotlib.ticker as mticker
import plotly.graph_objs as go
import plotly.offline as pltly
import colorlover as cl
import seaborn as sns
# notebook
from IPython.display import Image
from IPython.core.display import HTML 

pltly.init_notebook_mode(connected=True)
%matplotlib inline

version = 'v0.2.0'
project = 'REEEM'

# Database Connection

This function creates a database connection to the **reeem_db**.<br>
The default user is **reeem_vis**, a user that has only read rights.

This section establishes the database connection and asks for the **password**.<br>
The username can be changed in the corresponding function above.<br>
If you don't have a username or forgot your password please contact your database admins.

In [2]:
def reeem_session():
    """SQLAlchemy session object with valid connection to reeem database"""
    
    print('Please provide connection parameters to database:\n' +
              'Hit [Enter] to take defaults')
    host = '130.226.55.43' # input('host (default 130.226.55.43): ')
    port = '5432' # input('port (default 5432): ')
    database = 'reeem' # input("database name (default 'reeem'): ")
    user = 'reeem_vis' # input('user (default postgres): ')
    # password = input('password: ')
    password = getpass.getpass(prompt='password: ',
                                   stream=sys.stderr)
    con = create_engine(
            'postgresql://' + '%s:%s@%s:%s/%s' % (user,
                                                  password,
                                                  host,
                                                  port,
                                                  database)).connect()
    print('Password correct! Database connection established.')
    return con

con = reeem_session()

C:\Anaconda3\envs\reeem-vis\lib\site-packages\ipykernel_launcher.py:12: UserWarning:

The `stream` parameter of `getpass.getpass` will have no effect when using ipykernel

Please provide connection parameters to database:
Hit [Enter] to take defaults
password: ········
Password correct! Database connection established.

# Table Info

In [3]:
# Database
schema = 'model_draft'
table_in = 'reeem_osembe_input'
table_out = 'reeem_osembe_output'
folder = 'osembe'

pathlib.Path('data/'+folder).mkdir(parents=True, exist_ok=True) 
print("Database Schema:", schema +'\n'+ "Input table:", table_in +'\n'+ 
      "Output table:", table_out +'\n'+ "Created folder:", folder )

Database Schema: model_draft
Input table: reeem_osembe_input
Output table: reeem_osembe_output
Created folder: osembe

## Database Query

This section is used to query the database tables (**table_in** and **table_out**).<br>

In [4]:
# Number of entries in table
sql = text("""
    SELECT  'In' AS data, count(*) AS count
    FROM    {0}.{1}
    UNION ALL
    SELECT  'Out' AS data, count(*) AS count
    FROM    {0}.{2}""".format(schema, table_in, table_out))
df_num = pd.read_sql_query(sql, con)
df_num

  data     count
0   In         0
1  Out  22630860

In [5]:
# Pathways
column = 'pathway' # id, pathway, version, region, year, indicator, category, value, unit
sql = text("""
    SELECT  'In' AS data, {3}, count(*) AS count
    FROM    {0}.{1}
    GROUP BY {3} 
    UNION ALL 
    SELECT  'Out' AS data, {3}, count(*) AS count
    FROM    {0}.{2}
    GROUP BY {3} 
    ORDER BY {3}; """.format(schema, table_in, table_out, column))
df_path = pd.read_sql_query(sql, con)
df_path

   data  pathway   count
0   Out     Base  581076
1   Out   C0T0E0  270036
2   Out   C0T0E1  270036
3   Out  C0T0E10  270036
4   Out  C0T0E11  270036
5   Out  C0T0E12  270036
6   Out  C0T0E13  270036
7   Out  C0T0E14  270036
8   Out  C0T0E15  270036
9   Out  C0T0E16  270036
10  Out  C0T0E17  270036
11  Out  C0T0E18  270036
12  Out  C0T0E19  270036
13  Out   C0T0E2  270036
14  Out  C0T0E20  270036
15  Out  C0T0E21  270036
16  Out  C0T0E22  270036
17  Out  C0T0E23  270036
18  Out  C0T0E24  270036
19  Out  C0T0E25  270036
20  Out  C0T0E26  270036
21  Out   C0T0E3  270036
22  Out   C0T0E4  270036
23  Out   C0T0E5  270036
24  Out   C0T0E6  270036
25  Out   C0T0E7  270036
26  Out   C0T0E8  270036
27  Out   C0T0E9  270036
28  Out   C0T1E0  270036
29  Out   C0T1E1  270036
..  ...      ...     ...
53  Out   C0T1E8  270036
54  Out   C0T1E9  270036
55  Out   C1T0E0  270036
56  Out   C1T0E1  270036
57  Out  C1T0E10  270036
58  Out  C1T0E11  270036
59  Out  C1T0E12  270036
60  Out  C1T0E13  270036
61  Out  C1T0E14  270036
62  Out  C1T0E15  270036
63  Out  C1T0E16  270036
64  Out  C1T0E17  270036
65  Out  C1T0E18  270036
66  Out  C1T0E19  270036
67  Out   C1T0E2  270036
68  Out  C1T0E20  270036
69  Out  C1T0E21  270036
70  Out  C1T0E22  270036
71  Out  C1T0E23  270036
72  Out  C1T0E24  270036
73  Out  C1T0E25  270036
74  Out  C1T0E26  270036
75  Out   C1T0E3  270036
76  Out   C1T0E4  270036
77  Out   C1T0E5  270036
78  Out   C1T0E6  270036
79  Out   C1T0E7  270036
80  Out   C1T0E8  270036
81  Out   C1T0E9  270036
82  Out     Test  176868

[83 rows x 3 columns]

In [6]:
# Versions
column = 'pathway,version' # id, pathway, version, region, year, indicator, category, value, unit
sql = text("""
    SELECT  'In' AS data, {3}, count(*) AS count
    FROM    {0}.{1}
    GROUP BY {3} 
    UNION ALL 
    SELECT  'Out' AS data, {3}, count(*) AS count
    FROM    {0}.{2}
    GROUP BY {3} 
    ORDER BY {3}; """.format(schema, table_in, table_out, column))
df_ver = pd.read_sql_query(sql, con)
df_ver

   data  pathway version   count
0   Out     Base  DataV1  581076
1   Out   C0T0E0  DataV1  270036
2   Out   C0T0E1  DataV1  270036
3   Out  C0T0E10  DataV1  270036
4   Out  C0T0E11  DataV1  270036
5   Out  C0T0E12  DataV1  270036
6   Out  C0T0E13  DataV1  270036
7   Out  C0T0E14  DataV1  270036
8   Out  C0T0E15  DataV1  270036
9   Out  C0T0E16  DataV1  270036
10  Out  C0T0E17  DataV1  270036
11  Out  C0T0E18  DataV1  270036
12  Out  C0T0E19  DataV1  270036
13  Out   C0T0E2  DataV1  270036
14  Out  C0T0E20  DataV1  270036
15  Out  C0T0E21  DataV1  270036
16  Out  C0T0E22  DataV1  270036
17  Out  C0T0E23  DataV1  270036
18  Out  C0T0E24  DataV1  270036
19  Out  C0T0E25  DataV1  270036
20  Out  C0T0E26  DataV1  270036
21  Out   C0T0E3  DataV1  270036
22  Out   C0T0E4  DataV1  270036
23  Out   C0T0E5  DataV1  270036
24  Out   C0T0E6  DataV1  270036
25  Out   C0T0E7  DataV1  270036
26  Out   C0T0E8  DataV1  270036
27  Out   C0T0E9  DataV1  270036
28  Out   C0T1E0  DataV1  270036
29  Out   C0T1E1  DataV1  270036
..  ...      ...     ...     ...
53  Out   C0T1E8  DataV1  270036
54  Out   C0T1E9  DataV1  270036
55  Out   C1T0E0  DataV1  270036
56  Out   C1T0E1  DataV1  270036
57  Out  C1T0E10  DataV1  270036
58  Out  C1T0E11  DataV1  270036
59  Out  C1T0E12  DataV1  270036
60  Out  C1T0E13  DataV1  270036
61  Out  C1T0E14  DataV1  270036
62  Out  C1T0E15  DataV1  270036
63  Out  C1T0E16  DataV1  270036
64  Out  C1T0E17  DataV1  270036
65  Out  C1T0E18  DataV1  270036
66  Out  C1T0E19  DataV1  270036
67  Out   C1T0E2  DataV1  270036
68  Out  C1T0E20  DataV1  270036
69  Out  C1T0E21  DataV1  270036
70  Out  C1T0E22  DataV1  270036
71  Out  C1T0E23  DataV1  270036
72  Out  C1T0E24  DataV1  270036
73  Out  C1T0E25  DataV1  270036
74  Out  C1T0E26  DataV1  270036
75  Out   C1T0E3  DataV1  270036
76  Out   C1T0E4  DataV1  270036
77  Out   C1T0E5  DataV1  270036
78  Out   C1T0E6  DataV1  270036
79  Out   C1T0E7  DataV1  270036
80  Out   C1T0E8  DataV1  270036
81  Out   C1T0E9  DataV1  270036
82  Out     Test  DataV1  176868

[83 rows x 4 columns]

In [7]:
# Years
column = 'year' # id, pathway, version, region, year, indicator, category, value, unit
sql = text("""
    SELECT  'In' AS data, {3}, count(*) AS count
    FROM    {0}.{1}
    GROUP BY {3} 
    UNION ALL 
    SELECT  'Out' AS data, {3}, count(*) AS count
    FROM    {0}.{2}
    GROUP BY {3} 
    ORDER BY {3} ; """.format(schema, table_in, table_out, column))
df_year = pd.read_sql_query(sql, con)
df_year

   data  year   count
0   Out  2015  628635
1   Out  2016  628635
2   Out  2017  628635
3   Out  2018  628635
4   Out  2019  628635
5   Out  2020  628635
6   Out  2021  628635
7   Out  2022  628635
8   Out  2023  628635
9   Out  2024  628635
10  Out  2025  628635
11  Out  2026  628635
12  Out  2027  628635
13  Out  2028  628635
14  Out  2029  628635
15  Out  2030  628635
16  Out  2031  628635
17  Out  2032  628635
18  Out  2033  628635
19  Out  2034  628635
20  Out  2035  628635
21  Out  2036  628635
22  Out  2037  628635
23  Out  2038  628635
24  Out  2039  628635
25  Out  2040  628635
26  Out  2041  628635
27  Out  2042  628635
28  Out  2043  628635
29  Out  2044  628635
30  Out  2045  628635
31  Out  2046  628635
32  Out  2047  628635
33  Out  2048  628635
34  Out  2049  628635
35  Out  2050  628635

In [8]:
# Regions
column = 'region' # id, pathway, version, region, year, indicator, category, value, unit
sql = text("""
    SELECT  'In' AS data, {3}, count(*) AS count
    FROM    {0}.{1}
    GROUP BY {3}
    UNION ALL 
    SELECT  'Out' AS data, {3}, count(*) AS count
    FROM    {0}.{2}
    GROUP BY {3}; """.format(schema, table_in, table_out, column))
df_reg = pd.read_sql_query(sql, con)
df_reg

   data    region   count
0   Out        IE  726732
1   Out        CH  724392
2   Out        ES  726732
3   Out        MT  726732
4   Out        BE  726732
5   Out      EU30    8676
6   Out        AT  734436
7   Out        NL  726732
8   Out        CY  726732
9   Out        DK  734400
10  Out        SI  726732
11  Out        BG  726732
12  Out  EU+CH+NO  702756
13  Out        CZ  734400
14  Out        LT  734256
15  Out        IT  734328
16  Out        SK  734328
17  Out        LU  726732
18  Out        NO  724392
19  Out        FI  734256
20  Out        PL  734256
21  Out        PT  726732
22  Out        DE  734400
23  Out        EE  734256
24  Out        HU  726732
25  Out        GR  726732
26  Out        SE  734256
27  Out        UK  726732
28  Out        FR  734328
29  Out        LV  734256
30  Out        RO  726732
31  Out        HR  726732
32  Out      EU28   23508

In [9]:
# Categories
column = 'category' # id, pathway, version, region, year, indicator, category, value, unit
sql = text("""
    SELECT  'In' AS data, {3}, count(*) AS count
    FROM    {0}.{1}
    GROUP BY {3} 
    UNION ALL 
    SELECT  'Out' AS data, {3}, count(*) AS count
    FROM    {0}.{2}
    GROUP BY {3}; """.format(schema, table_in, table_out, column))
df_cat = pd.read_sql_query(sql, con)
df_cat

   data                                           category    count
0   Out                                          Emissions    91512
1   Out                                               None   487908
2   Out  Installed Capacities Public and Industrial Pow...   274536
3   Out  Electricity Production from Public and Industr...   274536
4   Out  Fuel Input to Public and Industrial Power and ...   274536
5   Out  Electricity Production from Public and Industr...   274536
6   Out           Primary energy consumption of renewables   640584
7   Out  Fuel Input to Public and Industrial Power and ...   823608
8   Out  Installed Capacities Public and Industrial Pow...   274536
9   Out  Fuel Input to Public and Industrial Power and ...   183024
10  Out  Fuel Input to Public and Industrial Power and ...   366048
11  Out  Electricity Production from Public and Industr...   640584
12  Out                  Electricity Exchange - Capacities  2745360
13  Out  Installed Capacities Public and Industrial Pow...   366048
14  Out  Installed Capacities Public and Industrial Pow...   183024
15  Out  Installed Capacities Public and Industrial Pow...   640584
16  Out  Installed Capacities Public and Industrial Pow...   274536
17  Out  Installed Capacities Public and Industrial Pow...   183024
18  Out  Electricity Production from Public and Industr...   274536
19  Out  Fuel Input to Public and Industrial Power and ...   915120
20  Out  Fuel Input to Public and Industrial Power and ...   274536
21  Out  Fuel Input to Public and Industrial Power and ...   183024
22  Out  Installed Capacities Public and Industrial Pow...   823608
23  Out                                 Biomass production    91512
24  Out  Fuel Input to Public and Industrial Power and ...   640584
25  Out  Electricity Production from Public and Industr...   915120
26  Out  Fuel Input to Public and Industrial Power and ...   183024
27  Out  Electricity Production from Public and Industr...   183024
28  Out                         Primary energy consumption   823608
29  Out  Electricity Production from Public and Industr...   183024
30  Out  Electricity Production from Public and Industr...   366048
31  Out  Electricity Production from Public and Industr...   366048
32  Out  Electricity Production from Public and Industr...   183024
33  Out  Installed Capacities Public and Industrial Pow...   274536
34  Out  Electricity Production from Public and Industr...   274536
35  Out                 Electricity Exchange - Net Imports  2833920
36  Out  Fuel Input to Public and Industrial Power and ...   366048
37  Out  Final energy consumption by energy carrier sum...   640584
38  Out  Electricity Production from Public and Industr...   823608
39  Out  Fuel Input to Public and Industrial Power and ...   274536
40  Out  Installed Capacities Public and Industrial Pow...   183024
41  Out  Installed Capacities Public and Industrial Pow...   366048
42  Out  Installed Capacities Public and Industrial Pow...   915120
43  Out  Fuel Input to Public and Industrial Power and ...   274536

In [10]:
# Indicators
column = 'nid,category,indicator' # id, pathway, version, region, year, indicator, category, value, unit
sql = text("""
    SELECT  'In' AS data, {3}, count(*) AS count
    FROM    {0}.{1}
    GROUP BY {3} 
    UNION ALL 
    SELECT  'Out' AS data, {3}, count(*) AS count
    FROM    {0}.{2}
    GROUP BY {3}
    ORDER BY category, indicator, nid; """.format(schema, table_in, table_out, column))
df_nind = pd.read_sql_query(sql, con)
df_nind.index.names = ['rid']
df_nind

,data,nid,category,indicator,count
rid,,,,,
0,Out,241,Biomass production,"Other biomass potential (wood, or not spec.)",2952
1,Out,242,Biomass production,"Other biomass potential (wood, or not spec.)",88560
2,Out,210,Electricity Exchange - Capacities,AT,2952
3,Out,211,Electricity Exchange - Capacities,AT,88560
4,Out,211,Electricity Exchange - Capacities,BE,2952
5,Out,212,Electricity Exchange - Capacities,BE,88560
6,Out,212,Electricity Exchange - Capacities,BG,2952
7,Out,213,Electricity Exchange - Capacities,BG,88560
8,Out,213,Electricity Exchange - Capacities,CH,2952
9,Out,214,Electricity Exchange - Capacities,CH,88560
10,Out,214,Electricity Exchange - Capacities,CY,2952
11,Out,215,Electricity Exchange - Capacities,CY,88560
12,Out,215,Electricity Exchange - Capacities,CZ,2952
13,Out,216,Electricity Exchange - Capacities,CZ,88560
14,Out,216,Electricity Exchange - Capacities,DE,2952
15,Out,217,Electricity Exchange - Capacities,DE,88560
16,Out,217,Electricity Exchange - Capacities,DK,2952
17,Out,218,Electricity Exchange - Capacities,DK,88560
18,Out,218,Electricity Exchange - Capacities,EE,2952
19,Out,219,Electricity Exchange - Capacities,EE,88560
20,Out,219,Electricity Exchange - Capacities,ES,2952
21,Out,220,Electricity Exchange - Capacities,ES,88560
22,Out,220,Electricity Exchange - Capacities,FI,2952
23,Out,221,Electricity Exchange - Capacities,FI,88560
24,Out,221,Electricity Exchange - Capacities,FR,2952
25,Out,222,Electricity Exchange - Capacities,FR,88560
26,Out,222,Electricity Exchange - Capacities,GR,2952
27,Out,223,Electricity Exchange - Capacities,GR,88560
28,Out,223,Electricity Exchange - Capacities,HR,2952
29,Out,224,Electricity Exchange - Capacities,HR,88560
...,...,...,...,...,...
690,Out,240,None,Wave,72
691,Out,298,None,Wave,1620
692,Out,62,None,Wind,1620
693,Out,119,None,Wind,2160
694,Out,177,None,Wind,2160
695,Out,231,None,Wind,2160
696,Out,289,None,Wind,2160
697,Out,67,None,Wood/Straw/Biowaste,1620
698,Out,376,None,Woody crops,36
699,Out,107,None,None,72
700,Out,108,None,None,72
701,Out,109,None,None,72
702,Out,110,None,None,72
703,Out,111,None,None,72
704,Out,165,None,None,72
705,Out,166,None,None,72
706,Out,167,None,None,72
707,Out,168,None,None,72
708,Out,169,None,None,72
709,Out,219,None,None,72
710,Out,220,None,None,72
711,Out,221,None,None,72
712,Out,222,None,None,72
713,Out,223,None,None,72
714,Out,277,None,None,72
715,Out,278,None,None,72
716,Out,279,None,None,72
717,Out,280,None,None,72
718,Out,281,None,None,72
719,Out,398,None,None,36

In [11]:
# Indicators
column = 'category,indicator' # id, pathway, version, region, year, indicator, category, value, unit
sql = text("""
    SELECT  'In' AS data, {3}, count(*) AS count
    FROM    {0}.{1}
    GROUP BY {3} 
    UNION ALL 
    SELECT  'Out' AS data, {3}, count(*) AS count
    FROM    {0}.{2}
    GROUP BY {3}
    ORDER BY category, indicator; """.format(schema, table_in, table_out, column))
df_ind = pd.read_sql_query(sql, con)
df_ind.index.names = ['rid']
df_ind

,data,category,indicator,count
rid,,,,
0,Out,Biomass production,"Other biomass potential (wood, or not spec.)",91512
1,Out,Electricity Exchange - Capacities,AT,91512
2,Out,Electricity Exchange - Capacities,BE,91512
3,Out,Electricity Exchange - Capacities,BG,91512
4,Out,Electricity Exchange - Capacities,CH,91512
5,Out,Electricity Exchange - Capacities,CY,91512
6,Out,Electricity Exchange - Capacities,CZ,91512
7,Out,Electricity Exchange - Capacities,DE,91512
8,Out,Electricity Exchange - Capacities,DK,91512
9,Out,Electricity Exchange - Capacities,EE,91512
10,Out,Electricity Exchange - Capacities,ES,91512
11,Out,Electricity Exchange - Capacities,FI,91512
12,Out,Electricity Exchange - Capacities,FR,91512
13,Out,Electricity Exchange - Capacities,GR,91512
14,Out,Electricity Exchange - Capacities,HR,91512
15,Out,Electricity Exchange - Capacities,HU,91512
16,Out,Electricity Exchange - Capacities,IE,91512
17,Out,Electricity Exchange - Capacities,IT,91512
18,Out,Electricity Exchange - Capacities,LT,91512
19,Out,Electricity Exchange - Capacities,LU,91512
20,Out,Electricity Exchange - Capacities,LV,91512
21,Out,Electricity Exchange - Capacities,MT,91512
22,Out,Electricity Exchange - Capacities,NL,91512
23,Out,Electricity Exchange - Capacities,NO,91512
24,Out,Electricity Exchange - Capacities,PL,91512
25,Out,Electricity Exchange - Capacities,PT,91512
26,Out,Electricity Exchange - Capacities,RO,91512
27,Out,Electricity Exchange - Capacities,SE,91512
28,Out,Electricity Exchange - Capacities,SI,91512
29,Out,Electricity Exchange - Capacities,SK,91512
...,...,...,...,...
330,Out,None,Pumped Storage 10-100MW,4932
331,Out,None,Rape seed,36
332,Out,None,Renewables,1908
333,Out,None,RO,3168
334,Out,None,Run of river,4932
335,Out,None,SE,3096
336,Out,None,SI,3168
337,Out,None,SK,3168
338,Out,None,Solar,10260
339,Out,None,Starch crops,36
340,Out,None,Steam Turbine,8316
341,Out,None,Steam Turbine,6480
342,Out,None,Steam Turbine large,9936
343,Out,None,Steam Turbine small,9936
344,Out,None,Sugar crops,36
345,Out,None,Sugar/Starchy crops,1620
346,Out,None,Sum,17280
347,Out,None,Summe,8460
348,Out,None,Total net Imports,2088
349,Out,None,Transport,72
350,Out,None,UK,3168
351,Out,None,Utility PV,4932
352,Out,None,Waste,1908
353,Out,None,Waste (non renewable),1620
354,Out,None,Waste non renewable + Industrial Waste Heat,8640
355,Out,None,Wave,4932
356,Out,None,Wind,10260
357,Out,None,Wood/Straw/Biowaste,1620
358,Out,None,Woody crops,36
359,Out,None,None,1476

In [12]:
# Write data as CSV file
csvname = 'data/{0}/reeem_{0}_indicators.csv'.format(folder)
df_ind.to_csv(csvname, sep=';')
print("Data saved to file:", csvname)

Data saved to file: data/osembe/reeem_osembe_indicators.csv

## Table metadata

Access the metadata from the database tables and write metadata string as JSON file.<br>

In [13]:
# Input Metadata
sql = text("""SELECT obj_description('{0}.{1}'::regclass);""".format(schema, table_in))
meta_in = pd.read_sql_query(sql, con).loc[:,'obj_description'].iloc[0]
print(meta_in)

# Save data to JSON file
fname_in = 'data/{0}/{1}_metadata.json'.format(folder, table_in)
with open(fname_in, 'w') as metafile:
    json.dump(json.loads(meta_in), metafile, indent=4)
    print("Data saved to file:", fname_in)

{
    "title": "REEEM OSeMBE Input",
    "description": "Input parameters: Service Demands, Fuel Prices, Potentials",
    "language": [ "eng" ],
    "spatial":
        {"location": "none",
        "extent": "Europe",
        "resolution": "Country"},
    "temporal":
        {"reference_date": "2015",
        "start": "2015",
        "end": "2060",
        "resolution": "1 year"},
    "sources": [
        {"name": "", "description": "", "url": "", "license": "", "copyright": ""},
        {"name": "", "description": "", "url": "", "license": "", "copyright": ""} ],
    "license":
        {"id": "tba",
        "name": "tba",
        "version": "tba",
        "url": "tba",
        "instruction": "tba",
        "copyright": "tba"},
    "contributors": [
        {"name": "Ludee", "email": "none", "date": "2017-07-24", "comment": "Create table"},
        {"name": "Ludee", "email": "none", "date": "2017-11-14", "comment": "Update structure and metadata"},
        {"name": "Ludee", "email": "none", "date": "2018-01-30", "comment": "New naming structure"} ],
    "resources": [
        {"name": "model_draft.reeem_osembe_input",
        "format": "PostgreSQL",
        "fields": [
            {"name": "id", "description": "Unique identifier", "unit": "none"},
            {"name": "nid", "description": "Row id", "unit": "none"},
            {"name": "dfid", "description": "Internal dataframe id", "unit": "none"},
            {"name": "pathway", "description": "REEEM pathway", "unit": "none"},
            {"name": "framework", "description": "REEEM framework", "unit": "none"},
            {"name": "version", "description": "REEEM version", "unit": "none"},
            {"name": "schema", "description": "1. classification", "unit": "none"},
            {"name": "category", "description": "2. classification", "unit": "none"},
            {"name": "tags", "description": "Free classification", "unit": "none"},
            {"name": "field", "description": "Old classification", "unit": "none"},
            {"name": "region", "description": "Country or region", "unit": "none"},
            {"name": "year", "description": "Year", "unit": "none"},
            {"name": "indicator", "description": "Parameter name", "unit": "none"},
            {"name": "value", "description": "Parameter value", "unit": "unit"},
            {"name": "unit", "description": "Parameter unit", "unit": "none"},
            {"name": "aggregation", "description": "True if aggregated", "unit": "none"},
            {"name": "updated", "description": "Timestamp", "unit": "none"},
            {"name": "source", "description": "Data source", "unit": "none"} ] } ],
    "metadata_version": "1.3"}
Data saved to file: data/osembe/reeem_osembe_input_metadata.json

In [14]:
# Output Metadata
sql = text("""SELECT obj_description('{0}.{1}'::regclass);""".format(schema, table_out))
meta_out = pd.read_sql_query(sql, con).loc[:,'obj_description'].iloc[0]
print(meta_out)

# Save data to JSON file
fname_out = 'data/{0}/{1}_metadata.json'.format(folder, table_out)
with open(fname_out, 'w') as metafile:
    json.dump(json.loads(meta_out), metafile, indent=4)
    print("Data saved to file:", fname_out)

{
    "title": "REEEM OSeMBE Output",
    "description": "Output parameters: ",
    "language": [ "eng" ],
    "spatial":
        {"location": "none",
        "extent": "Europe (EU28+NO+CH)",
        "resolution": "Country"},
    "temporal":
        {"reference_date": "2015",
        "start": "2015",
        "end": "2050",
        "resolution": "1 year"},
    "sources": [
        {"name": "OSeMOSYS OSEMBE", "description": "The Open-Source energy Model Base for the European Union", "url": "http://www.osemosys.org/osembe.html", "license": "Apache License 2.0 (Apache-2.0)", "copyright": "tba"},
        {"name": "OSeMBE – An open-source engagement model", "description": "Model documentation", "url": "http://www.osemosys.org/uploads/1/8/5/0/18504136/osembe_documentation.pdf", "license": "none", "copyright": "none"},
        {"name": "OSeMBE input data", "description": "Data", "url": "http://www.osemosys.org/uploads/1/8/5/0/18504136/osembe_v1_20180821.zip", "license": "Open Data Commons Attribution License 1.0 (ODC-BY-1.0)", "copyright": "© Hauke Henke"}],
    "license":
        {"id": "tba",
        "name": "tba",
        "version": "tba",
        "url": "tba",
        "instruction": "tba",
        "copyright": "tba"},
    "contributors": [
        {"name": "Ludee", "email": "none", "date": "2017-07-24", "comment": "Create table"},
        {"name": "Ludee", "email": "none", "date": "2017-11-14", "comment": "Update structure and metadata"},
        {"name": "Ludee", "email": "none", "date": "2018-01-30", "comment": "New naming structure"},
        {"name": "Ludee", "email": "none", "date": "2018-10-09", "comment": "Update table name and metadata"} ],
    "resources": [
        {"name": "model_draft.reeem_osembe_output",
        "format": "PostgreSQL",
        "fields": [
            {"name": "id", "description": "Unique identifier", "unit": "none"},
            {"name": "nid", "description": "Row id", "unit": "none"},
            {"name": "dfid", "description": "Internal dataframe id", "unit": "none"},
            {"name": "pathway", "description": "REEEM pathway", "unit": "none"},
            {"name": "framework", "description": "REEEM framework", "unit": "none"},
            {"name": "version", "description": "REEEM version", "unit": "none"},
            {"name": "schema", "description": "1. classification", "unit": "none"},
            {"name": "category", "description": "2. classification", "unit": "none"},
            {"name": "tags", "description": "Free classification", "unit": "none"},
            {"name": "field", "description": "Old classification", "unit": "none"},
            {"name": "region", "description": "Country or region", "unit": "none"},
            {"name": "year", "description": "Year", "unit": "none"},
            {"name": "indicator", "description": "Parameter name", "unit": "none"},
            {"name": "value", "description": "Parameter value", "unit": "unit"},
            {"name": "unit", "description": "Parameter unit", "unit": "none"},
            {"name": "aggregation", "description": "True if aggregated", "unit": "none"},
            {"name": "updated", "description": "Timestamp", "unit": "none"},
            {"name": "source", "description": "Data source", "unit": "none"} ] } ],
    "metadata_version": "1.3"}
Data saved to file: data/osembe/reeem_osembe_output_metadata.json

# View 1: One indicator for one region in one pathway over time
## Database Query

This section can be used to query one specific **indicator** (_filter 1_) for one specific **region** (_filter 2_) from one database table (_table_).<br>
Indicators are identified by the **nid**.<br>
It is possible to select one specific **pathway** (_filter 3_) and one specific data **version** (_filter 4_).<br>
To querry additional coulmns from the database table add the names to the **SELECT** statement (_column_).<br>
The sortation is done by the **ORDER BY** (_sorting_).<br>
The result from the database is saved to a pandas.DataFrame (**df_1**) and can be printed.

In [ ]:
# Database select (SQL)
sql = text("""
    SELECT  pathway, version, region, year, category, indicator, value, unit  -- column
    FROM    {0}.{1}                               -- table
    WHERE   category = 'Installed Capacities Public and Industrial Power and CHP Plants by Fuel and Technology_Solar'
        AND indicator = 'Solar'
        AND region = 'EU+CH+NO'                       -- filter 2
        AND pathway = 'C0T0E0'                    -- filter 3
        --AND framework = 'FrameworkV1'              
        AND version = 'DataV1'                  -- filter 4
    ORDER BY pathway, version, year;              -- sorting """.format(schema, table_out))
df_1 = pd.read_sql_query(sql, con)
print(df_1)

## Metadata

The important information from the above select (**df_1**) is collected in a Dictionary (**info_dict_1**).

In [ ]:
# Facts dict
info_dict_1 = {}
info_dict_1['Filename'] = ['{}_reeem_plot_1' .format(pd.to_datetime('today').strftime("%Y-%m-%d"))]
info_dict_1['Category'] = df_1.loc[:,'category'].unique()
info_dict_1['Indicator'] = df_1.loc[:,'indicator'].unique()
info_dict_1['Unit'] = df_1.loc[:,'unit'].unique()
info_dict_1['Pathway'] = df_1.loc[:,'pathway'].unique()
info_dict_1['Year'] = df_1.loc[:,'year'].unique().tolist()
info_dict_1['Region'] = df_1.loc[:,'region'].unique()
info_dict_1['Y-Axis'] = ['{} in {}'.format(*info_dict_1['Indicator'], *info_dict_1['Unit'])]
info_dict_1['Title'] = ['{} in {}'.format(*info_dict_1['Category'], *info_dict_1['Region'])]
info_dict_1['Metadata'] = meta_out

# Print facts
for x in info_dict_1:
    print(x,':',info_dict_1[x])

## Plot

This is a basic plot with [matplotlib](https://matplotlib.org/).<br>
The title and y-axis labels are taken from the **info_dict_1**. They can be exchanged with manual text.

In [ ]:
# Plot for one indicator and one pathway
fig = plt.figure(figsize=(12, 5))
ax = plt.subplot()
# plt.title(r'CO2-Emissions in EU28', fontsize=16)  # Manual title
plt.title(*info_dict_1['Title'], fontsize=16)         # Title from info
# plt.ylabel(r'CO2-Emissions in Mt')                # Manual label
plt.ylabel(*info_dict_1['Y-Axis'])                    # Label from info
plt.plot(df_1.loc[:,'year'], df_1.loc[:,'value'], 
         marker="o",  markersize=5)
plt.legend(df_1.loc[:,'pathway'].unique())
ax.set_ylim(ymin=0)

## Interactive Plot

This is a basic interactive plot with [Plotly](https://plot.ly/python/).<br>
You can hover over the elements of the plot and observe the data.

In [ ]:
# Interactive plot for one indicator and one pathway
data = [go.Scatter(
    x = df_1.loc[:,'year'],
    y = df_1.loc[:,'value'],
    name = df_1.loc[:,'pathway'].unique())]

# Set layout
layout = go.Layout(
    height=400, width = 800,
    #title='CO2-Emissions in EU28',
    title=''.join(info_dict_1['Title']),
    # yaxis=dict(title='CO2-Emissions in Mt') )
    yaxis=dict(title=''.join(info_dict_1['Y-Axis'])) )
ifig = go.Figure(data=data, layout=layout)
pltly.iplot(ifig)

## Save results to files

The results are saved to cooresponding files in a folder named **data**.<br>
The **info_dict** is saved to a text file (txt).<br>
The **data** is saved to a table (csv).<br>
The **plot** is saved as an image (png).<br>
The **interactive plot** is saved as a webpage (html). It will also open in a new tab of your browser.

In [ ]:
# Save plot as file
plotname = ('data/' + str({0}) + '/' + str({1}) +'.png').format(folder, *info_dict_1['Filename'])
fig.savefig(plotname, bbox_inches='tight')
print("Plot saved to file:", plotname)

In [ ]:
# Write facts to textfile
txtname = ('data/' + str({0}) + '/' + str({1}) +'.txt').format(folder, *info_dict_1['Filename'])
with open(txtname,'w') as tfile:
    for i in info_dict_1.keys():
        tfile.write(i + ": " + ', '.join([str(x) for x in info_dict_1[i]]) + "\n")
tfile.close()
print("Facts saved to file:", txtname)

# Save data to CSV
csvname = ('data/' + str({0}) + '/' + str({1}) +'.csv').format(folder, *info_dict_1['Filename'])
df_1.to_csv(csvname, sep=';')
print("Data saved to file:", csvname)

# Save plot as file
plotname = ('data/' + str({0}) + '/' + str({1}) +'.png').format(folder, *info_dict_1['Filename'])
fig.savefig(plotname, bbox_inches='tight')
print("Plot saved to file:", plotname)

# Save interactive plot
htmlname = ('data/' + str({0}) + '/' + str({1}) +'.html').format(folder, *info_dict_1['Filename'])
pltly.plot(ifig, filename=htmlname)
print("Interactive plot saved to file:", htmlname)

# View 2: One indicator for one region in different pathways over time

## Database Query

This section can be used to query one specific **indicator** (_filter 1_) for one specific **region** (_filter 2_) from one database table (_table_).<br>
Indicators are identified by the **nid**.<br>
It is possible to select one specific **pathway** (_filter 3_) and one specific data **version** (_filter 4_).<br>
To querry additional coulmns from the database table add the names to the **SELECT** statement (_column_).<br>
The sortation is done by the **ORDER BY** (_sorting_).<br>
The result from the database is saved to a pandas.DataFrame (**df_2**) and can be printed.

In [ ]:
# Database select (SQL)
sql = text("""
    SELECT  pathway, version, region, year, category, indicator, value, unit  -- column
    FROM    {0}.{1}                               -- table
    WHERE   category = 'Installed Capacities Public and Industrial Power and CHP Plants by Fuel and Technology_Solar'
        AND indicator = 'Solar'
        AND region = 'EU+CH+NO'                   -- filter 2
        AND (pathway = 'C0T0E17' 
            OR pathway = 'C0T0E18')               -- filter 3
        --AND framework = 'FrameworkV1'              
        AND version = 'DataV1'                    -- filter 4
    ORDER BY pathway, version, year;              -- sorting """.format(schema, table_out))
df_2 = pd.read_sql_query(sql, con)
print(df_2)

In [ ]:
# Facts dict
info_dict_2 = {}
info_dict_2['Filename'] = ['{}_reeem_plot_2' .format(pd.to_datetime('today').strftime("%Y-%m-%d"))]
info_dict_2['Category'] = df_2.loc[:,'category'].unique()
info_dict_2['Indicator'] = df_2.loc[:,'indicator'].unique()
info_dict_2['Unit'] = df_2.loc[:,'unit'].unique()
info_dict_2['Pathway'] = df_2.loc[:,'pathway'].unique()
info_dict_2['Year'] = df_2.loc[:,'year'].unique().tolist()
info_dict_2['Region'] = df_2.loc[:,'region'].unique()
info_dict_2['Y-Axis'] = ['{} in {}'.format(*info_dict_2['Indicator'], *info_dict_2['Unit'])]
info_dict_2['Title'] = ['{} in {}'.format(*info_dict_2['Category'], *info_dict_2['Region'])]
# ToDo: Select metadata string from database table and also add!

# Print facts
for x in info_dict_2:
    print(x,':',info_dict_2[x])

## Stack data

This pivot function reorganises the data and makes each pathway a column. The year is used as the index.<br>
The result is saved to a new dataframe (**df_2p**) and can be printed.

In [ ]:
# Reshape dataframe
df_2p = df_2.pivot(index='year', columns='pathway',  values='value')
# print (df_2p)

## Plot

This is a basic plot with [matplotlib](https://matplotlib.org/).<br>
The title and y-axis labels are taken from the **info_dict_2**. They can be exchanged with manual text.

In [ ]:
# Plot for one indicator and one pathway
fig_2 = plt.figure(figsize=(12, 5))
ax = plt.subplot()
# plt.title(r'CO2-Emissions in EU28', fontsize=16)  # Manual title
plt.title(*info_dict_2['Title'], fontsize=16)         # Title from info
# plt.ylabel(r'CO2-Emissions in Mt')                # Manual label
plt.ylabel(*info_dict_2['Y-Axis'])                    # Label from info
plt.plot(df_2p, 
         marker="o",  markersize=5)
plt.legend(df_2p)
ax.set_ylim(ymin=0)

## Interactive Plot

This is a basic interactive plot with [Plotly](https://plot.ly/python/).<br>
You can hover over the elements of the plot and observe the data.<br>
The different pathways can be switched on and off.

In [ ]:
# Iterate over pathways and add to data
pathways = df_2.loc[:,'pathway'].unique()
data = []
for pathway in pathways:
    data.append(go.Scatter(
        x = df_2.loc[df_2['pathway'] == pathway].loc[:,'year'],
        y = df_2.loc[df_2['pathway'] == pathway].loc[:,'value'],
        name = pathway))

# Set layout
layout = go.Layout(
    height=400, width = 800,
    #title='CO2-Emissions in EU28',
    title=''.join(info_dict_2['Title']),
    # yaxis=dict(title='CO2-Emissions in Mt') )
    yaxis=dict(title=''.join(info_dict_2['Y-Axis'])) )
ifig = go.Figure(data=data, layout=layout)
pltly.iplot(ifig)

## Interactive Plot 2

This is the manual interactive version.<br>
You can control the design using the [plotly documentation](https://plot.ly/python/line-and-scatter/#line-and-scatter-plots).

In [ ]:
data = [go.Scatter(x=df_2.loc[df_2['pathway'] == 'Base'].loc[:,'year'],
                   y=df_2.loc[df_2['pathway'] == 'Base'].loc[:,'value'],
                   mode='lines+markers',
                   line=dict(color='black', dash='none', width='2'),
                   marker=dict(symbol='o', size=8, line=dict(width=2, color='black')),
                   name='Base'
                  ),
        go.Scatter(x=df_2.loc[df_2['pathway'] == 'HighRES'].loc[:,'year'],
                   y=df_2.loc[df_2['pathway'] == 'HighRES'].loc[:,'value'],
                   mode='lines+markers',
                   line=dict(color='green', dash='', width='2'),
                   marker=dict(symbol='o', size=5, line=dict(width=2, color='black')),
                   name='HighRES'
                  ),
        go.Scatter(x=df_2.loc[df_2['pathway'] == 'StorageInnov'].loc[:,'year'],
                   y=df_2.loc[df_2['pathway'] == 'StorageInnov'].loc[:,'value'],
                   line=dict(color='red', dash='dash', width='2'),
                   marker=dict(symbol='o', size=5, line=dict(width=2, color='black')),
                   name='StorageInnov'
                  )
       ]
layout = go.Layout(
    height=400, width = 800,
    #title='CO2-Emissions in EU28',
    title=''.join(info_dict_2['Title']),
    # yaxis=dict(title='CO2-Emissions in Mt') )
    yaxis=dict(title=''.join(info_dict_2['Y-Axis'])) )
ifig2 = go.Figure(data=data, layout=layout)
pltly.iplot(ifig2)

## Save results to files

The results are saved to cooresponding files in a folder named **data**.<br>
The **info_dict** is saved to a text file (txt).<br>
The **data** is saved to a table (csv).<br>
The **plot** is saved as an image (png).<br>
The **interactive plot** is saved as a webpage (html). It will also open in a new tab of your browser.<br>

In [ ]:
# Write facts to textfile
filename = ('data/{}.txt').format(*info_dict_2['Filename'])
with open(filename,'w') as tfile:
    for i in info_dict_2.keys():
        tfile.write(i + ": " + ', '.join([str(x) for x in info_dict_2[i]]) + "\n")
tfile.close()
print("Facts saved to file:", filename)

# Save data to CSV
csvname = 'data/{}.csv' .format(*info_dict_2['Filename'])
df_2.to_csv(csvname, sep=';')
print("Data saved to file:", csvname)

# Save pivot data to CSV
csvname = 'data/{}_pivot.csv' .format(*info_dict_2['Filename'])
df_2p.to_csv(csvname, sep=';')
print("Data saved to file:", csvname)

# Save plot as file
plotname = 'data/{}.png' .format(*info_dict_2['Filename'])
fig_2.savefig(plotname, bbox_inches='tight')
print("Plot saved to file:", plotname)

# Save interactive plot
htmlname = 'data/{}.html' .format(*info_dict_2['Filename'])
pltly.plot(ifig, filename=htmlname)
print("Interactive plot saved to file:", htmlname)

# Save interactive plot 2
htmlname = 'data/{}_2.html' .format(*info_dict_2['Filename'])
pltly.plot(ifig2, filename=htmlname)
print("Interactive plot saved to file:", htmlname)

# View 3: One indicator for all regions in one pathway over time

## Database Query

This section can be used to query one specific **indicator** for all regions from one database table (_table_).<br>
Indicators are identified by the **nid** (_filter 1_).<br>
Only **region** _EU28_ is excluded (_filter 2_).<br>
It is possible to select one specific **pathway** (_filter 3_) and one specific data **version** (_filter 4_).<br>
To querry additional coulmns from the database table add the names to the **SELECT** statement (_column_).<br>
The sortation is done by the **ORDER BY** (_sorting_).<br>
The result from the database is saved to a pandas.DataFrame (**df_3**) and can be printed.

In [ ]:
# Database select (SQL)
sql = text("""
    SELECT  pathway, version, region, year, nid, indicator, field, value, unit  -- column
    FROM    model_draft.reeem_osembe_output       -- table
    WHERE nid = 59                                -- filter 1
        AND region <> 'EU28'                      -- filter 2
        AND pathway = 'Base'                      -- filter 3
        AND version = 'DataV1'                    -- filter 4
    ORDER BY pathway, version, region, year;      -- sorting """)
df_3 = pd.read_sql_query(sql, con)
print(df_3)

## Metadata

The important information from the above select (**df_3**) is collected in a Dictionary (**info_dict_3**).

In [ ]:
# Facts dict
info_dict_3 = {}
info_dict_3['Filename'] = ['{}_reeem_plot_3' .format(pd.to_datetime('today').strftime("%Y-%m-%d"))]
info_dict_3['Field'] = df_3.loc[:,'field'].unique()
info_dict_3['Indicator'] = df_3.loc[:,'indicator'].unique()
info_dict_3['Unit'] = df_3.loc[:,'unit'].unique()
info_dict_3['Pathway'] = df_3.loc[:,'pathway'].unique()
info_dict_3['Year'] = df_3.loc[:,'year'].unique().tolist()
info_dict_3['Region'] = df_3.loc[:,'region'].unique()
info_dict_3['Y-Axis'] = ['{} in {}'.format(*info_dict_3['Indicator'], *info_dict_3['Unit'])]
info_dict_3['Title'] = ['{} in all regions'.format(*info_dict_3['Indicator'])]
# ToDo: Select metadata string from database table and also add!

# Print facts
for x in info_dict_3:
    print(x,':',info_dict_3[x])

## Stack data

This pivot function reorganises the data and makes each pathway a column. The year is used as the index.<br>
The result is saved to a new dataframe (**df_3p**) and can be printed.

In [ ]:
# Reshape dataframe
df_3p = df_3.pivot(index='year', columns='region',  values='value')
# print (df_3p)

## Plot

This is a basic plot with [matplotlib](https://matplotlib.org/).<br>
The title and y-axis labels are taken from the **info_dict_3**. They can be exchanged with manual text.

In [ ]:
# Plot for one indicator and one pathway
fig = plt.figure(figsize=(12, 10))
ax = plt.subplot()
# plt.title(r'CO2-Emissions in all regions', fontsize=16)  # Manual title
plt.title(*info_dict_3['Title'], fontsize=16)         # Title from info
# plt.ylabel(r'CO2-Emissions in Mt')                # Manual label
plt.ylabel(*info_dict_3['Y-Axis'])                    # Label from info
plt.plot(df_3p, 
         marker="o",  markersize=5)
plt.legend(df_3p)
ax.set_ylim(ymin=0)

## Interactive Plot

This is a basic interactive plot with [Plotly](https://plot.ly/python/).<br>
You can hover over the elements of the plot and observe the data.<br>
The different pathways can be switched on and off.

In [ ]:
# Iterate over pathways and add to data
regions = df_3.loc[:,'region'].unique()
data = []
for region in regions:
    data.append(go.Scatter(
        x = df_3.loc[df_3['region'] == region].loc[:,'year'],
        y = df_3.loc[df_3['region'] == region].loc[:,'value'],
        name = region))

# Set layout
layout = go.Layout(
    height=800, width = 800,
    #title='CO2-Emissions in EU28',
    title=''.join(info_dict_3['Title']),
    # yaxis=dict(title='CO2-Emissions in Mt') )
    yaxis=dict(title=''.join(info_dict_3['Y-Axis'])) )
ifig = go.Figure(data=data, layout=layout)
pltly.iplot(ifig)

# Combined

In [ ]:
# Database select (SQL)
sql = text("""
    SELECT  pathway, version, region, year, nid, indicator, field, value, unit  -- column
    FROM    model_draft.reeem_osembe_output       -- table
    WHERE nid = 59                                -- filter 1
        AND region <> 'EU28'                      -- filter 2
        AND pathway = 'Base'                      -- filter 3
        AND version = 'DataV1'                    -- filter 4
    ORDER BY pathway, version, region, year;      -- sorting """)
df_3 = pd.read_sql_query(sql, con)
# print(df_3)

# Facts dict
info_dict_3 = {}
info_dict_3['Filename'] = ['{}_reeem_plot_3' .format(pd.to_datetime('today').strftime("%Y-%m-%d"))]
info_dict_3['Field'] = df_3.loc[:,'field'].unique()
info_dict_3['Indicator'] = df_3.loc[:,'indicator'].unique()
info_dict_3['Unit'] = df_3.loc[:,'unit'].unique()
info_dict_3['Pathway'] = df_3.loc[:,'pathway'].unique()
info_dict_3['Year'] = df_3.loc[:,'year'].unique().tolist()
info_dict_3['Region'] = df_3.loc[:,'region'].unique()
info_dict_3['Y-Axis'] = ['{} in {}'.format(*info_dict_3['Indicator'], *info_dict_3['Unit'])]
info_dict_3['Title'] = ['{} in all regions'.format(*info_dict_3['Indicator'])]
# ToDo: Select metadata string from database table and also add!

# Print facts
# for x in info_dict_3:
#     print(x,':',info_dict_3[x])

# Reshape dataframe
df_3p = df_3.pivot(index='year', columns='region',  values='value')
# print (df_3p)

# Iterate over pathways and add to data
regions = df_3.loc[:,'region'].unique()
data = []
for region in regions:
    data.append(go.Scatter(
        x = df_3.loc[df_3['region'] == region].loc[:,'year'],
        y = df_3.loc[df_3['region'] == region].loc[:,'value'],
        name = region))

# Set layout
layout = go.Layout(
    height=800, width = 800,
    #title='CO2-Emissions in EU28',
    title=''.join(info_dict_3['Title']),
    # yaxis=dict(title='CO2-Emissions in Mt') )
    yaxis=dict(title=''.join(info_dict_3['Y-Axis'])) )
ifig = go.Figure(data=data, layout=layout)
pltly.iplot(ifig)

# View 5: All indicators for all regions in one pathway over time

## Database Query

This section can be used to query all **indicator** for all regions from one database table (_table_).<br>
It is possible to select one specific **pathway** (_filter 1_) and one specific data **version** (_filter 2_).<br>
To querry additional coulmns from the database table add the names to the **SELECT** statement (_column_).<br>
The sortation is done by the **ORDER BY** (_sorting_).<br>
The result from the database is saved to a pandas.DataFrame (**df_5**) and can be printed.

In [ ]:
# Database select (SQL)
sql = text("""
    SELECT  id, nid, pathway, framework, version, 
        region, year, field, indicator, value, 
        unit, aggregation, updated  -- column
    FROM    model_draft.reeem_osembe_output       -- table
    WHERE pathway = 'Base'                        -- filter 1
        AND version = 'DataV1'                    -- filter 2
    ORDER BY pathway, version, region, year;      -- sorting """)
df_5 = pd.read_sql_query(sql, con)
df_5.head(5)

## Metadata

The important information from the above select (**df_5**) is collected in a Dictionary (**info_dict_5**).

In [ ]:
# Facts dict
info_dict_5 = {}
info_dict_5['Updated'] = [x.strftime("%Y-%m-%d") for x in df_5.loc[:,'updated'].unique()]
info_dict_5['Filename'] = ['{0}_{1}_OSeMBE_{2}_{3}_Output' .format(
    info_dict_5['Updated'][0],
    df_5.loc[:,'pathway'].unique()[0],
    df_5.loc[:,'framework'].unique()[0],
    df_5.loc[:,'version'].unique()[0])]
#info_dict_5['Category'] = df_5.loc[:,'category'].unique()
#info_dict_5['Indicator'] = df_5.loc[:,'indicator'].unique()
#info_dict_5['Unit'] = df_5.loc[:,'unit'].unique()
info_dict_5['Pathway'] = df_5.loc[:,'pathway'].unique()
info_dict_5['Version'] = df_5.loc[:,'version'].unique()
info_dict_5['Year'] = df_5.loc[:,'year'].unique().tolist()
info_dict_5['Region'] = df_5.loc[:,'region'].unique()
#info_dict_5['Y-Axis'] = ['{} in {}'.format(*info_dict_5['Indicator'], *info_dict_5['Unit'])]
#info_dict_5['Title'] = ['{} in all regions'.format(*info_dict_5['Category'])]
info_dict_5['Metadata'] = df_meta

# Print facts
for x in info_dict_5:
    print(x,':',info_dict_5[x])

## Save results to files

The results are saved to cooresponding files in a folder named **data**.<br>
The **info_dict** is saved to a text file (txt).<br>
The **data** is saved to a table (csv).<br>

In [ ]:
# Write facts to textfile
filename = ('data/{}.txt').format(*info_dict_5['Filename'])
with open(filename,'w') as tfile:
    for i in info_dict_5.keys():
        tfile.write(i + ": " + ', '.join([str(x) for x in info_dict_5[i]]) + "\n")
tfile.close()
print("Facts saved to file:", filename)

# Save data to CSV
csvname = 'data/{}.csv' .format(*info_dict_5['Filename'])
df_5.to_csv(csvname, sep=';')
print("Data saved to file:", csvname)

# Logging

In [ ]:
%%javascript
var nb = IPython.notebook;
var kernel = IPython.notebook.kernel;
var command = "nb_name = '" + nb.notebook_path + "'";
kernel.execute(command);

In [ ]:
print(nb_name)

In [ ]:
# Database select (SQL)
sql = text("""
    -- scenario log (project,version,io,schema_name,table_name,script_name,comment)
    SELECT scenario_log('REEEM','v0.3.0','view','{0}','{1}','{2}',' ');
    """.format(schema, table_out, nb_name))
df_2 = pd.read_sql_query(sql, con)
print(df_2)